:root{
    --White: hsl(0, 0%, 100%);
    --Off-white: hsl(0, 0%, 94%);
    --Light-grey: hsl(0, 0%, 86%);
    --Smokey-grey: hsl(0, 1%, 44%);
    --Off-black: hsl(0, 0%, 8%);
    --Purple: hsl(259, 100%, 65%);
    --Light-red: hsl(0, 100%, 67%);
}

@font-face {
    font-family: pop;
    src: url("./assets/fonts/Poppins-Regular.ttf");
}


*{
    font-family: pop !important;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;

    background-color: var(--Off-white);
}

.container{
    background-color: var(--White);
    min-width: 35%;
    padding: 10px 10px 20px;
    position: relative;
    border-bottom-right-radius: 150px;
    height: 280px;
}

input {
    width: 70px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid var(--Off-white);
    outline: none;
}

input:focus{
    border: 2px solid var(--Purple);
}

small{
    font-size: 0.6rem;
    color: var(--Light-red);
    font-weight: bold;

    font-style: italic;
    text-transform: capitalize;
}

.submit-btn {
    width: 70px;
    height: 70px;
    background-color: hsl(259deg 59.95% 61.56%);
    position: absolute;
    right: 4.4%;
    top: 32%;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.submit-btn:hover{
    background-color: var(--Off-black);
}

.output span{
    font-size: 1.7rem;
    color: var(--Purple);
    font-style: italic;
    padding: 10px;
}
.output h2{
    font-size: 1.3rem;
    color: var(--Off-black);
    font-weight: bold;
    margin: 10px;
    text-transform: uppercase;
}

h3  {
    width: 40%;
    color: var(--Smokey-grey);
    font-weight: bold;
    margin-top: 10px;
    align-self: center;
}
p{
  padding: 10px;
  margin-bottom: 0px;
}

.output-clock{
    width: 200px;
    margin-left: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-left: 2px solid var(--Off-white);
}
.output-clock h3{
    margin: 0%;
    padding: 10px;
    top: 5%;
}
.output-container{
    display: flex;
    align-items: center;
    justify-content:safe;
}

.input-container{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    margin-right: 20px;
    color: var(--Smokey-grey);
    font-weight: bold;
   
}

.input-flex{
    display: flex;
    border-bottom: 2px solid var(--Off-white);
    padding: 16px;
    width: fit-content;
    margin-bottom: 10px;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap");
.progress-container {
  position: relative;
  display: flex;
  height: 60%;
  width: 45%;
  min-width: 500px;
  flex-direction: column;
  align-items: center;
}

.progress-decoration {
  position: relative;
  height: 100px;
  width: 100%;
}
.progress-decoration svg {
  position: absolute;
  fill: rgba(237, 30, 40, 0.2);
}
.progress-decoration .icon-cloud {
  fill: rgba(145, 179, 250, 0.4);
}

.progress-decoration .icon-tree--two {
    fill: rgba(36, 132, 36, 0.69);
}
.progress-decoration .icon-cloud {
    fill: rgba(145, 179, 250, 0.4);
  }
  
  .progress-decoration .icon-tree--one {
      fill: rgba(201, 187, 60, 0.69);
  }

.progress-decoration #cloud-one {
  right: 5%;
  top: 2%;
}
.progress-decoration #cloud-two {
  right: 45%;
  top: 10%;
}
.progress-decoration #cloud-three {
  left:10%;
  top: 0%;
}
.progress-decoration #tree-one {
  bottom: 0;
  right: 68%;
}
.progress-decoration #tree-two {
  bottom: 0;
  right: 13%;
}
.progress-decoration #lamp-one {
  bottom: 0;
  right: 30%;
}


.progress-bar {
  background-color: transparent;
  border: 3px #bebdbd solid;
  border-radius: 30px;
  position: relative;
  margin: 4px 0 16px 0;
  height: 50px;
  width: 90%;
}
.progress-bar .completed-bar {
  background: linear-gradient(to left, #6f5fc2, #8bc661);
  border-radius: 30px;
  color: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 0;
  opacity: 0;
  transition: width 2s ease 0.4s;
  padding: 0 8px;
}
.progress-bar .completed-bar__dashed {
  width: 96%;
  border: 2px dashed #ffffff;
  border-radius: 50%;
}
.progress-bar .icon {
  font-size: 1.5rem;
  margin-left: 4px;
}

.progress-information {
  display: none;
  justify-content: space-between;
  padding: 0 4px;
}

.icon-cloud {
  height: 50px;
  width: 50px;
}
.icon-lamp {
  height: 70px;
  width: 60px;
}
.icon-tree--one {
  height: 60px;
  width: 60px;
}
.icon-tree--two {
  height: 70px;
  width: 60px;
}

p {
  font-family: "Poppins", "Helvetica", "sans-serif";
  letter-spacing: 1px;
  line-height: 1.5;
  display: block;
  margin-block-start: 1em;
  margin-inline-start: 0px;
  margin-top: 0px;
  font-weight: 300;
  font-size: 1rem;
  color: rgba(48, 48, 48, 0.6);
}


img{
    width: 60px;
    height: 60px;
}


/* Media query for mobile devices */
@media only screen and (max-width: 660px) {

  *{
    font-family: pop !important;
    font-size: small;
  }

  body {
    padding-top: 20px; 
    max-height: 900px;/* Add some space at the top */
  }

  .container {
    min-width: 75%; /* Adjust width for smaller screens */
    padding: 20px; /* Add padding for better spacing */
    margin: 10px 40px 10px 40px;
    min-height: 400px;
    border-bottom-right-radius: 100px;
    display: inline;
  }

  .input-container {
    margin-right: 0; /* Remove right margin to make the inputs full-width */
    margin-bottom: 10px; /* Add some space between inputs */
  }

  .input-flex {
    display: flex;
    border-bottom: 2px solid var(--Off-white);
    padding-bottom: 30px;
    width: fit-content;
    margin-bottom: 10px;
  }

  input {
    width: 60%;
    margin-right: 0;
    margin-top: 5px; /* Remove right margin */
  }

  .submit-btn {
    width: 50px;
    height: 50px;
    margin-top: 10px;
    position: relative;
    top: -3em;
    left: 44%;
  }

  img{
    width: 40px;
    height: 40px;
}

  .output-container {
    flex-direction: column; /* Stack output elements vertically */
    align-items: center; /* Center align output */
    margin: -30px;
  }

  .output {
    text-align: center; /* Center align output text */
  }

  .output-clock {
    width: 100%; /* Make the clock section full-width */
    margin: 10px 0; /* Adjust margin for spacing */
    border-top: 2px solid var(--Off-white);
    border-left: none; /* Remove left border */
  }
  .progress-container {
    padding: 0px 10px;
    width: 80%;
    position: relative;
    min-width: 300px;
    margin: 0px 10px;
  }
  p  {
    width: 80%;
    color: var(--Smokey-grey);
    font-weight: bold;
    margin-top: 10px;
    align-self: center;
  }
  h3 {
    width: 40%;
    color: var(--Smokey-grey);
    font-weight: bold;
    margin: 20px;
    align-self:normal;
  }
  .progress-information {
  display: flex;
  } 

  .progress-bar {
  margin-bottom: 4px;
  position: relative;
  width: 100%;
  }
  .progress-bar .completed-bar__dashed {
  width: 100%;
  border: 0.2rem dashed #cecaca;
  }
  .icon-tree--one {
    display: none;
  }
  .progress-decoration #lamp-one {
    bottom: 0;
    right: 60%;
  }
  /* You may need additional adjustments based on specific elements */
}
